.section {
  padding: 100px 40px;
  background: #f8f8fc;
}

.container {
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 60px;
  align-items: center;
}

/* LEFT SIDE */
.tag {
  background: #ede9fe;
  color: #7c6cff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  color: #2f2f4f;
  margin-bottom: 10px;
}

.underline {
  width: 45px;
  height: 4px;
  background: #36d399;
  border-radius: 10px;
  margin: 15px 0;
}

.desc {
  color: #6b7280;
  font-size: 15px;
  line-height: 1.6;
  max-width: 480px;
  margin-bottom: 25px;
}

/* FEATURE LIST */
.featureList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.featureItem {
  background: #f8e8f0;
  padding: 16px 18px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  color: #3f3f46;
}

.icon {
  font-size: 16px;
}

/* RIGHT SIDE */
.right {
  display: flex;
  gap: 10px;

}

/* BIG CARD */
.bigCard {
  flex: 1;
  height: 420px;
   
  width:300px;
  border-radius: 26px;
  background: linear-gradient(135deg, #ff6a6a, #ff8a5c);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bigEmoji {
  font-size: 20px;
}

.cardLabel {
  position: absolute;
  bottom: 18px;
  left: 18px;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 12px;
}

/* SMALL GRID */
.smallGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}

/* SMALL CARDS */
.smallGrid div {
  width: 150px;
  height: 200px;
  border-radius: 22px;

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
gap:10px;
  font-weight: 600;


}

/* GRADIENT COLORS MATCH IMAGE */
.cardGreen {
  background: linear-gradient(135deg, #56c596, #3ecf8e);
}

.cardOrange {
  background: linear-gradient(135deg, #f6b73c, #f78f4b);
}

.cardPurple {
  background: linear-gradient(135deg, #8e7dff, #5ec6ff);
}

.cardBlue {
  background: linear-gradient(135deg, #4facfe, #6dd5ed);
}

.smallGrid span {
  font-size: 20px;
}

.smallGrid p {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.25);
  padding: 4px 10px;
  border-radius: 10px;
}